@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.animation {
    width: 350px;
    left: 20%;
    position: absolute;
    animation-name: animation;
    animation: animation 10s ease-in-out infinite;
}

@keyframes animation {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}

.animation2 {
    top: 1500px;
    width: 350px;
    left: 20%;
    position: absolute;
    animation-name: animation2;
    animation: animation 10s ease-in-out infinite;
}

@keyframes animation2 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
    }
}

.animation3 {
    top: 2500px;
    width: 350px;
    left: 20%;
    position: absolute;
    animation-name: animation3;
    animation: animation 10s ease-in-out infinite;
}

@keyframes animation3 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}

.animation4 {
    top: 3500px;
    width: 350px;
    left: 20%;
    position: absolute;
    animation-name: animation4;
    animation: animation 10s ease-in-out infinite;
}

@keyframes animation4 {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}