@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
}

.flex-container__game-name {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.flex-container__developer {
    text-align: center;
    margin-right: 5%;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 32px;
}

@media (max-width:450px) {
    .flex-container {
        flex-direction: column;
    }
}