@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: lightblue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container__game-name {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.flex-container__developer {
    text-align: center;
    margin-right: 5%;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 32px;
}

.flex-container__var {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 22px;
}

.main-form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.form {
    align-items: center;
    grid-area: top;
}

.form input {
    padding: 10px;
    margin-left: 10px;
}

.buttons {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    grid-area: bot;
}

.grid-container {
    padding: 40px;
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    justify-items: center;
    grid-gap: 5%;
    grid-template-areas: "top top" "bot bot";
}

@media (max-width:450px) {
    .flex-container {
        flex-direction: column;
    }
}