@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(../imgs/waves.png);
    background-size: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container__game-name {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.flex-container__developer {
    text-align: center;
    margin-right: 5%;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 32px;
}

.flex-container__var {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 22px;
}

.main-form {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.form {
    align-items: center;
}

.form input {
    padding: 10px;
    margin-left: 10px;
}

.login-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    grid-area: top;
}

.buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    grid-area: bot;
}

.buttons input {
    height: 60px;
    font-size: 22px;
}

.buttons input:hover {
    height: 60px;
    font-size: 22px;
    background-color: darksalmon;
}

.grid-container {
    border-radius: 20px;
    padding: 20px;
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    justify-items: center;
    grid-gap: 20px;
    grid-template-areas: "top top" "bot bot" "bot bot";
}

.flex-container-form {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    gap: 30px;
}

form input {
    padding: 5px;
    height: 30px;
}

#registration-complete input {
    height: 60px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
}


/*--------------------------------MEDIA--------------------------------*/

@media (max-width:600px) {
    .main-form {
        margin-left: 0;
        margin-right: 0;
    }
    .flex-container {
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
    .grid-container {
        grid-template-rows: repeat(3, 250px);
    }
    #go-to-form input {
        max-width: 200px;
        font-size: 14px;
    }
    .buttons {
        width: 80%;
    }
    .buttons input {
        font-size: 14px;
    }
}